<div *ngIf="dataLoaded == false" class="spinner-border text-info" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <table *ngIf="dataLoaded == true" class="table">
    <thead>
      <tr>
        <th class="text-danger" style="padding-left: 15px;">Marka</th>
        <th class="text-danger">Model</th>
        <th class="text-danger" style="padding-left: 20px;">Yıl</th>
        <th class="text-danger" style="padding-left: 20px;">Renk</th>
        <th class="text-danger">Günlük Fiyat</th>
      </tr>
    </thead>
    <tr *ngFor="let car of cars">
      <th class="text-success">{{ car.brandName }}</th>
      <th class="text-success">{{ car.carName }}</th>
      <th class="text-success">{{ car.modelYear }}</th>
      <th class="text-success">{{ car.colorName }}</th>
      <th class="text-success">{{ car.dailyPrice }} TL</th>
      <th> <button type="button" class="btn btn-primary" style="margin-inline-start: 25cm;">Detaylar</button></th>
    </tr>
  </table>
  
